<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Appointment</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <strong>Patient:</strong>
      <%= @appointment.patient.name %>
    </p>

    <p>
      <%= @appointment.start_time.strftime("%A, %d %b %Y %l:%M %p") %> - <%= @appointment.end_time.strftime("%l:%M %p") %>
    </p>
    <%= link_to 'Edit', edit_appointment_path(@appointment) %> |
    <%= link_to 'Back', appointments_path %>
  </div>
</div>
